@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --primary-color: #1d87ff;
    --bg-color: #F5F5F5;
	--hint-color: #a0a0a0;
	--font-color: #424242;
	--card-title-color: black;
	--card-bg-color: white;
    --chip-bg-color: rgba(224, 224, 224, 0.8);
	--chip-select-bg-color: rgba(180, 180, 180, 1);
	--card-hover-color: rgba(0, 0, 0, 0.02);
	--chip-hover-color: rgba(0, 0, 0, 0.12);
}

[data-theme="dark"] {
    --primary-color: #469cff;
    --bg-color: #121212;
	--hint-color: #eeeeee;
    --font-color: #cacaca;
	--card-title-color: white;
	--card-bg-color: rgb(27, 27, 27);
    --chip-bg-color: rgba(31, 31, 31 , 0.8);
    --chip-select-bg-color: rgba(80, 80, 80, 1);
	--card-hover-color: rgba(255, 255, 255, 0.08);
	--chip-hover-color: rgba(255, 255, 255, 0.08);
}

html, body {
	background-color: var(--bg-color);
	color: var(--font-color);
	position: relative;
	width: 100%;
	max-width: 880px;
	margin: auto;
	margin-top: 16px;
	text-align: center;
    font-family: Roboto;
    -webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	display: grid;
    user-select: none;
}

.chip {
	margin: 0.6rem;
}
  
* {
  box-sizing: border-box;
}

.material-icons {
    display: inline-flex;
	vertical-align: middle;
}